#TMSH-VERSION: 16.1.0

ltm node /Common/172.16.20.1 {
    address 172.16.20.1
}
ltm node /Common/172.16.20.2 {
    address 172.16.20.2
}
ltm node /Common/172.16.20.3 {
    address 172.16.20.3
}
ltm pool /Common/http_pool {
    members {
        /Common/172.16.20.1:80 {
            address 172.16.20.1
        }
        /Common/172.16.20.2:80 {
            address 172.16.20.2
        }
        /Common/172.16.20.3:80 {
            address 172.16.20.3
        }
    }
}
ltm virtual /Common/http_vs {
    creation-time 2020-01-02:12:36:04
    destination /Common/10.10.1.100:80
    ip-protocol tcp
    last-modified-time 2020-01-02:12:36:04
    mask 255.255.255.255
    pool /Common/http_pool
    profiles {
        /Common/tcp { }
    }
    source 0.0.0.0/0
    translate-address enabled
    translate-port enabled
}
ltm virtual-address /Common/10.10.1.100 {
    address 10.10.1.100
    arp enabled
    mask 255.255.255.255
    traffic-group /Common/traffic-group-1
}
